<div class="container">

  <mat-button-toggle-group [value]="defaultLayout" (change)="onToggleChange($event.value)">
    <mat-button-toggle value="card" aria-label="layout card">
      <mat-icon fontIcon="grid_view"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="grid" aria-label="layout grid">
      <mat-icon fontIcon="lists"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  

  <div *ngIf="showCardsLayout" [@playlistAnimation]="tracks.length" class="row">

    <mat-card class="card" *ngFor="let track of tracks" >
      <img mat-card-image src="{{ track.image }}" alt="Cover of {{ track.album }}">
      <mat-card-content>
        <mat-card-title>{{ track.artist }}</mat-card-title>
        <mat-card-subtitle>{{ track.album }}</mat-card-subtitle>
        <ul>
          <li>Type: {{ track.albumType }}</li>
          <li>Duration: {{ track.duration | duration}}</li>
          <li>Popularity: {{ track.popularity }}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent"><a [routerLink]="['track', track.id]">Show album</a></button>
      </mat-card-actions>
    </mat-card>
  
  </div>

  <div *ngIf="showGridLayout" class="table">
    <table [@playlistAnimation]="dataSource.data.length" mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Cover </th>
        <td mat-cell *matCellDef="let track"> <img src="{{ track.image }}" alt="Cover of {{ track.album }}"> </td>
      </ng-container>
    
      <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef> Artist </th>
        <td mat-cell *matCellDef="let track"> {{track.artist}} </td>
      </ng-container>
    
      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef> Album </th>
        <td mat-cell *matCellDef="let track"> {{track.album}} </td>
      </ng-container>
    
      <ng-container matColumnDef="albumType">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let track"> {{track.albumType}} </td>
      </ng-container>
  
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let track"> {{track.duration}} </td>
      </ng-container>
  
      <ng-container matColumnDef="popularity">
        <th mat-header-cell *matHeaderCellDef> Popularity </th>
        <td mat-cell *matCellDef="let track"> {{track.popularity}} </td>
      </ng-container>
    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let track">
          <button mat-flat-button color="accent"><a [routerLink]="['track', track.id]">Show album</a></button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>  
  </div>
  
</div>
