<div class="container">
  <div class="row">

    <mat-card class="card" *ngFor="let track of tracks" >
      <img mat-card-image src="{{ track.image }}" alt="Cover of {{ track.album }}">
      <mat-card-content>
        <mat-card-title>{{ track.artist }}</mat-card-title>
        <mat-card-subtitle>{{ track.album }}</mat-card-subtitle>
        <ul>
          <li>Type: {{ track.albumType }}</li>
          <li>Duration: {{ track.duration | duration}}</li>
          <li>Popularity: {{ track.popularity }}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent"><a [routerLink]="['track', track.id]">Show album</a></button>
      </mat-card-actions>
    </mat-card>
  
  </div>
  
</div>
