.table {
    overflow-x: auto;
    width: 100%;
}

.row {
    padding: 16px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.row>.card {
    max-width: calc(25% - 20px);
    margin: 0 10px 20px;
}

@media screen and (max-width: 1200px) {
    .row>.card {
        max-width: calc(33.333% - 20px);
    }
}

@media screen and (max-width: 900px) {
    .row>.card {
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 676.89px) {
    .row>.card {
        max-width: 100%;
        margin: 0 0 30px;
    }
}

@media screen and (min-width: 677px) {
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
}

mat-button-toggle-group {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
    display: flex;
    width: fit-content;
    margin-left: auto;
}