<div class="container">

  <mat-button-toggle-group [value]="defaultLayout" (change)="onToggleChange($event.value)">
    <mat-button-toggle value="card" aria-label="layout card">
      <mat-icon fontIcon="grid_view"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="grid" aria-label="layout grid">
      <mat-icon fontIcon="lists"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  

  <div *ngIf="showCardsLayout" [@playlistAnimation]="tracks.length" class="row">
    <app-card 
      class="card"
      *ngFor="let card of cards"
      [card]="card"></app-card>
  </div>

  <div *ngIf="showGridLayout" class="table">
    <app-grid 
      [@playlistAnimation]="dataSource.data.length" 
      mat-table 
      [dataSource]="dataSource"
      [columnsToDisplay]="columnsToDisplay"></app-grid>
  </div>
  
</div>
