@use '@angular/material' as mat;

@include mat.core();

$default-primary: mat.define-palette(mat.$purple-palette);
$default-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$default-warn: mat.define-palette(mat.$red-palette);

$default-theme: mat.define-light-theme((
  color: (
    primary: $default-primary,
    accent: $default-accent,
    warn: $default-warn,
  )
));

@include mat.all-component-themes($default-theme);

