/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #6900ba;
    --primary-light-color: #f2ecf5;
    --primary-dark-color: #400172;
    --secondary-color: #cef563;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: var(--primary-dark-color);
}

button {
    font-weight: 600;
    font-size: 1rem;
}

.text-nowrap {
    white-space: nowrap;
}